.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 30px;
  box-shadow: 0px 0px 3px 5px rgb(0 0 0 / 5%), 0px 0px 3px 3px rgb(0 0 0 / 8%),
    0px 0px 4px 3px rgb(0 0 0 / 14%);
  border-radius: 4px;
}

.true {
  background: blue;
  clip-path: circle(50%);
  height: 30px;
  width: 30px;
}
.false {
  background: red;
  clip-path: circle(50%);
  height: 30px;
  width: 30px;
}
.avatar {
  width: 100px;
  height: 100px;
}
.name {
  font-weight: 500;
  font-size: 18px;
}
